// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

@fancy: green;
@oceanic: darkblue;
@haze: purple;
@fontS: Impact, Charcoal, sans-serif;

* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
.container {
	max-width: 800px;
	margin: auto;
	border: 1px solid black;
	padding: 1rem;
	background-color: lightblue;
	.flex() {
		display: flex;
		flex-direction: column;
	}
	.about() {
		font-size: 1.4rem;
		padding-bottom: .5rem;
		text-decoration: underline;
		font-family: @fontS;
		color: @oceanic;
	}
	.about {
		.about();
	}
	header {
		width: 100%;
		.nav{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-evenly;
			font-size: 1.5rem;
			padding-bottom: 1rem;
			@media(max-width: 500px) {
				flex-direction: column;
				line-height: 1.9rem;
				font-size: 1.5rem;
			}
			a {
				text-decoration: none;
				color: @oceanic;
			}
		}
	}
	#Arthur {
		display: flex;
		flex-direction: column;
		align-items: center;
		width:100%;
		font-size: 2.2rem;
		padding: 1rem;
		font-family: @fontS;
		@media(max-width: 500px) {
			justify-content: center;
			flex-wrap: nowrap;
			font-size: 1.5rem;
		}
	}
	.intro {
		width: 100%;
		height: 14rem;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		margin: 1rem;
		.who {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			padding: 1rem;
			margin: 1rem 0rem 1rem 1rem;
			line-height: 1.6rem;
			height: 14rem;
			width: 25rem;
			border: 1px solid purple;
		}
		.crown {
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				width: 14rem;
				height: 14rem;
			}
		}
	}
	.groupTitles {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin:1rem;
		.secTitles {
			.about();
		}
		.indivTitles {
		line-height: 1.2rem;
		padding: .7rem;
		}
	}
	footer {
		display: flex;
		justify-content: center;
		margin: 1rem;
		font-size: 1.8rem;
		font-family: @fontS;
		color: @haze;
	}
}